<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link rel="manifest" href="manifest.json">

  <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="lib/ion-floating-menu/dist/ion-floating-menu.css" rel="stylesheet" type="text/css" />


  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <script type="text/javascript" src="js/quiet.js"></script>
  <script type="text/javascript" src="js/quiet-init.js"></script>
  <script async type="text/javascript" src="js/quiet-emscripten.js"></script>
  <script src="lib/ion-floating-menu/dist/ion-floating-menu.js" type="text/javascript"></script>


  <script type="text/javascript>" src="js/receiveText.js"></script>
  <script type="text/javascript>" src="js/sendtext.js"></script>

  <!-- your app's js -->
  <script src="js/services.js"></script>
  <script src="js/app.js"></script>


</head>

<body ng-app="starter">

  <ion-pane ng-controller="TheCtrl as thing">
    <ion-header-bar class="bar-stable">
      <h1 class="title">ModemCare</h1>
    </ion-header-bar>




    <div ng-show="viewForms">


    <!-- was ion-plus -->
    <ion-floating-button click="myEvent()" has-footer="false" button-color="#2AC9AA" icon="ion-paper-airplane" iconColor="#fff">

    </ion-floating-button>
    <ion-content>
      <div>

        <ion-list can-swipe="true">
                <ion-item ng-repeat="item in forms">
                    <h2>{{item.name}}!</h2>
                    <ion-option-button class="button-positive" ng-click="toggleShare(item)">
                        Share
                    </ion-option-button>
                    <ion-option-button class="button-info" ng-click="setViewDoc(item)">
                        Edit
                    </ion-option-button>

                </ion-item>
            </ion-list>


      </div>
    </ion-content>


    </div>

    <div ng-show="viewStaticDoc">

      <ion-header-bar class="bar-royal">
        <h1 class="title">{{ mainDoc.name }}</h1>
      </ion-header-bar>

      <ion-content>


        <!-- <div ng-controller="StaticPageCtrl"> -->
          <!-- <div class="bar bar-header bar-royal">
            <h1 class="title">{{ mainDoc.name }}</h1>
          </div> -->
          

          <div class="list card" ng-repeat="field in mainDoc.formData.fields">

            <a href="#" class="item item-icon-left">
              <b>{{ field.key + ": "}}</b>{{ field.value }}
            </a>

          </div>

          <ion-floating-button ng-click="setEditDoc(mainDoc.index)" has-footer="false" button-color="#2AC9AA" icon="ion-edit" iconColor="#fff">
          </ion-floating-button>
          <!-- <ion-floating-button ng-click="editForm('/edit-page.html')" has-footer="false" button-color="#2AC9AA" icon="ion-edit" iconColor="#fff">
          </ion-floating-button> -->

        <!-- </div> -->


      </ion-content>
    </div>



    <div ng-show="viewEditDoc">
      <ion-header-bar class="bar-royal">
        <h1 class="title">{{ mainDoc.name }}</h1>
      </ion-header-bar>

      <ion-content>


        <div class="list card" ng-repeat="field in mainDoc.formData.fields">

            <label class="item item-input item-stacked-label">
              <span class="input-label">{{ field.key }}</span>
              <input type="text" ng-model="field.value" value="{{field.value}}">
            </label>

        </div>

        
        <ion-floating-button ng-click="setViewForms()" has-footer="false" button-color="#2AC9AA" icon="ion-checkmark" iconColor="#fff">
        </ion-floating-button>


      </ion-content>
    </div>



  </ion-pane>
</body>

</html>